.mobile-menu {
    display: none; 
} 

.mobile-menu.open {
    display: flex;  
    flex-direction: column;  
    position: absolute; 
    background-color: #121212; 
    width: 100vw; 
    height: 100vh;
    top: 0;
    left: 0; 
    z-index: -1;

    .credits {
        position: fixed;
        bottom: 0; 
        padding-inline: 1.5rem; 
        text-align: center;  
        font-size: .8rem;  
        width: 100%; 

        p {
            display: flex;
            gap: 1.75rem;  
            justify-content: center;
        }

        a {
            text-decoration: underline;

            &:hover {
                color: rgba(255, 255, 255, 0.551); 
            }
        }
    }
} 

.mobile-socials.open {
    margin-top: 7rem;     
    display: flex; 
    align-items: center; 
    width: 100%;  
    max-height: 50vh;  
    overflow: auto; 
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.438) transparent;   
}
