nav {
    position: fixed; 
    z-index: 2;
    top: 0;
    width: 100vw; 
    display: flex;
    justify-content: space-between;
    padding-inline: 3.5rem; 
    padding-top: 1.5rem;     
    align-items: center; 

    h1 {
        margin: 0;
    }

    button {
        border: none;
        background: none;
        cursor: pointer;   

        img { 
            width: 1.5rem;    
        }
    }

    a {
        color: inherit;
        text-decoration: none;  
    } 

    ul {
        display: flex;
        gap: 1.75rem; 
        list-style-type: none; 
        display: none;

        li {
            transition: .3s;

        &:hover {
            transform: scale(1.1);  
           }
        }

        img {
            width: 1.5rem;    
        }
    }
}

