@use '_nav.scss';
@use '_footer.scss';
@use '_carousel.scss';
@use '_mobile-menu.scss';
@use '_mobile-carousel-navigation.scss'; 
@use '_custom-cursor.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    color: white;
    font-family: montserrat, sans-serif;  
}

a {
    color: inherit;
}

main {
    max-width: 100vw; 
    height: 100vh;  
    position: relative;
    overflow: hidden;  
}

video {
    filter: brightness(.75);     
}

.bold { 
    font-weight: 800;  
} 

@media screen and (min-width: 1100px) { 
    #menu-btn {
        display: none;
    }

    .mobile-menu {
        display: none; 
    } 

    .mobile-socials.open, 
    .mobile-menu.open {
        display: none; 
    }

    .desktop-socials {
        display: flex; 
    }
 
    .carousel button {
        display: flex; 
    }

    .mobile-navigation {
        display: none; 
    }

    footer {
        display: flex; 
    }
}
 